.ButtonContainer {
  position: absolute;
  bottom: 20px;
  background: rgba(255, 255, 255, 1);
  height: 150px;
  width: 300px;
  border-radius: 10px;
  transform: translateX(50vw) translateX(-50%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 5px;
  opacity: 0.8;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.row > button {
  width: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
}

button {
  background-color: rgba(235, 235, 235, 0.5);
}

select {
  width: 100%;
}

.active {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: bold;
}
